
<% if @clients.any?() %>

  <table>
    <thead>
      <tr>
        <th>Client</th>
        <th>Stylist</th>
      </tr>
    </thead>

    <% @clients.each() do |client| %>

      <tr>
        <td><%= client.class() %></td>
        <td>
          <% if client.stylist() != "Needs A Stylist" %>
            <%= client.stylist() %>
          <% else %>
            "Needs A Stylist"
          <% end %>
        </td>
      </tr>
    <% end %>

  </table>

<% end %>>
