<!DOCTYPE html>
<html>
  <head>
    <title>Mohawks and Mullets' Stylists</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <a href="/"><h1>Mohawks And Mullets' Stylist Management System</h1></a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
