body {
  background-color: #000;
}

.container {
  background-color: #fff;
  min-height: 800px;
  margin: 100px auto;
}

h1 {
  text-align: center;
}

.header {
  padding: 50px;
}


li {
  list-style: none;
}

.btn {
  margin: 5px;  
}

.main_content {
  background-color:
}


.client_name {


}
