body {
  background-color: #000;
  font-family: 'Homemade Apple', cursive;
  background-image: url('http://www.sunnywalks.gallery/wp-content/uploads/2014/12/Mestre-girl.jpg');
}

.container {
  background-color: #fff;
  min-height: 800px;
  margin: 100px auto;
}

a {color: #000;}
a:hover {color: #000;}

h1 {
  text-align: center;
  font-family: 'Eater', cursive;
  font-size: 4em;
}

.header {
  padding: 50px;
}


li {
  list-style: none;
}

.btn {
  margin: 5px;
}

.client_name {
  font-family: 'Eater', cursive;
  text-align: center;
  font-size: 5em;
}
